<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper>
 <select id="" parameterType="" resultType="">SQL 작성</select>
<insert id="" parameterType="">SQL 작성</insert>
<update id="" parameterType="">SQL 작성</update>
<delete id="" parameterType="">SQL 작성</delete>
</mapper>
