/* #region Default Settings */
* {
	/* Reset Outline and Decoration */
	outline: none;
	background: none;
	text-decoration: none;
	color: black;

	/* Temporary Reference Border */
	border: 1px solid rgba(80, 80, 80, 0.3);
	box-sizing: border-box;

	/* Reset Margin and Padding */
	margin: 0;
	padding: 0;
}

button:hover,
a:hover {
	/* Display Pointer if Hover */
	cursor: pointer;
}
/* #endregion */

/* #region Main Template Values */
:root {
	--main-color-base: rgba(0, 0, 0, 0.2);
	--main-color-1: rgb(225, 25, 235);
	--main-color-2: rgb(100, 10, 255);
	--main-color-3: rgb(35, 0, 130);
	--main-gradient: linear-gradient(
			40deg,
			var(--main-color-1),
			var(--main-color-base) 66%
		),
		linear-gradient(220deg, var(--main-color-2), var(--main-color-base) 66%),
		linear-gradient(165deg, var(--main-color-3), var(--main-color-base) 66%);
}

section {
	height: 100px;
	background: var(--main-gradient);
}
/* #endregion */

/* #region Header */











/* #endregion */


/* Body */









/* Footer */














