/* 특정 요소의 자식 하나일 경우 */
#test1 > p:only-child {
    background-color: chartreuse;
}

/* 특정 요소의 '특정 형태를 가진' 자식이 하나일 경우 */
#test2 > p:only-of-type {
    background-color: coral;
}

/* 자식 요소가 존재하지 않을 때 */
#test3 > p:empty {
    background-color: slateblue;
    height: 30px; /* 여백 없으면 보이지 않음(존재안하기에) */
}

/* 여러 선택자 동시 선택 */
/* ','를 이용해 다중으로 선택가능 */
#test4-1, #test4-2, .test4-3 {
    color: chocolate;
}

#test5-1 > .c5 {
    background-color: violet;
}

#test5-2 > li.c5 {
    background-color: aquamarine;
}

/* 클래스가 여러개인 요소만 선택 */
.test6.c6 {
    background-color: rebeccapurple;
}




