<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>정적 자원 연결()js, css, image</title>
    <link href="/css/ex.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <h1>정적 자원 연결()js, css, image</h1>
      <!-- static 기준으로 경로 작성 -->
      <img src="/images/cats/cat1.jpg" alt="" />
      <img src="/images/cats/cat2.jpg" alt="" />
      <img src="/images/cats/cat3.jpg" alt="" />
      <img src="/images/cats/cat4.jpg" alt="" />

      <button id="btn">JS 연결 테스트</button>
    </div>

    <script src="/js/ex.js"></script>
  </body>
</html>
