/* * {
    border: black 1px solid;
    box-sizing: border-box;
} */

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
body {
    margin: 0;
}

/* Main */
main {
    height: 3000px;
}

button {
    transition: 0.3s;
}

/* Header */
header {
    position: sticky;
    top: 0;
    padding: 3px;
    height: 48px;
    background-color: white;

    display: flex;
}
.header {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Menu(Bars) */
.menu {
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
}
.menu > a {
    display: flex;
}
.menu > #space {
    width: 10px;
}
#premium-icon {
    height: 30px;
    width: 100px;
}
#bars {
    background-color: transparent;
    font-size: 20px;
    border-radius: 50%;
    border: none;

    width: 30px;
    height: 30px;
    transition: 0.3s;
}
#bars:hover {
    background-color: rgb(220, 220, 215);
}

/* Search Bar */
.search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search #search-bar {
    width: 600px;
    height: 38px;
    border-radius: 30px;
    border: gray solid 1px;
    background-color: white;
    box-shadow: inset 0px 0px 5px rgba(80, 80, 80, 0.3);
    outline: none;

    display: flex;
    justify-self: space-between;
}
#search-bar {
    justify-content: space-between;
}
#search-input {
    display: flex;
}
#search-input > #space {
    width: 10px;
}
#search-input > input {
    background-color: transparent;
    font-size: 16px;
    flex-basis: 1;
    width: 480px;
    outline: none;
    border: none;
}
#vk {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 18px;
}
#search-icon {
    display: flex;
}
#search-icon > button {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    outline: none;
    border: transparent;
    border-left: gray 1px solid;
    width: 60px;
    font-size: 18px;
    flex-basis: 100%;
}
.search > #space {
    flex-basis: 100%;
}
#mic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    outline: none;
}

/* Account */
.account > #my-profile > img {
    display: flex;
    object-fit: cover;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.account {
    display: flex;
    height: 100%;
}
.account section {
    width: 35px;
}
.account button {
    outline: none;
    border: none;
    background-color: transparent;
    flex-basis: 100%;
    height: 100%;
    font-size: 22px;
}

/* Content */
.content {
    display: flex;
    height: 100%;
}
.content > #space {
    width: 5.5%;
}

/* Main Content */
.content-main {
    padding: 10px;
    width: 68%;
    display: flex;
    flex-direction: column;
}

/* Video */
#video {
    display: flex;
    justify-content: center;
}
#video:first-child {
    margin-top: 12px;
}

/* Title */
#title b {
    line-height: 1.8;
    font-size: 20px;
}

/* Channel */
.subscription {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
#channel {
    display: flex;
    height: 50px;
    align-items: center;
}
#channel-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#channel-icon img {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}
#channel > #space {
    width: 7px;
}
#channel-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
}
#channel-name {
    flex-basis: 60%;
}
#channel-name > p {
    font-weight: bold;
    margin: 0;
}
#channel-subs {
    flex-basis: 40%;
}
#channel-subs > p {
    margin: 0;
    font-size: 11px;
}

/* Subscription */
#subscription-button {
    border-radius: 20px;
    height: 35px;
    width: 62px;
    flex-basis: 100%;
    background-color: rgb(32, 32, 34);
    color: white;
}
#channel-share {
    display: flex;
    align-items: center;
}
#channel-share #space {
    width: 5px;
}
#channel-share #share {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    background-color: rgb(240, 240, 235);
    font-size: 18px;
    border-radius: 20px;
    height: 32px;
}
#channel-share h4 {
    font-size: 15px;
    font-weight: 100;
}
#channel-share #split {
    margin: 0;
}
#channel-share > button:last-of-type {
    width: 32px;
}
#channel-like {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(240, 240, 235);
}
#channel-like > button:first-of-type {
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#channel-like > button:last-of-type {
    border-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#share:hover {
    background-color: rgb(220, 220, 215);
}

/* Description */
.description {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
#description-box {
    position: relative;
    padding: 5px;
    flex-basis: 100%;
    height: 100%;
    background-color: rgb(240, 240, 235);
    border-radius: 10px;
}
#description-box:active {
}

/* Comment */
.comment-info {
    height: 40px;
    display: flex;
}
.comment-info > h4 {
    margin: 0;
    height: 100%;
    font-size: 20px;
}
.comment-info #space {
    width: 15px;
}
.comment-info #sort-comment {
    display: flex;
    align-items: center;
    font-size: 18;
    height: 100%;
    outline: none;
    border: none;
    background: transparent;
}
#sort-comment > h4 {
    margin: 0;
}

/* Comment Input */
.comment-input {
    margin: 5px 0px 20px 0px;    
    padding: 0;
    display: flex;
}
#comment-text {
    flex-basis: 100%;
}
#comment-text input {
    padding-top: 0;
    flex-basis: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px rgb(220, 220, 215) solid;
    font-size: 14px;
}
#my-profile > img {
    margin-right: 5px;
    object-fit: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
#comments-other {
    display: flex;
    height: 80px;
}
#profile {
    margin-right: 5px;
    display: flex;
    flex-wrap: wrap;
}
#profile > img {
    object-fit: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
#user {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
}
#user h4 {
    margin: 0;
    padding: 0;
}
#user-info {
    display: flex;
    align-items: baseline;
}
#user-info #space {
    width: 5px;
}
#user-id h4 {
    font-size: 12px;
}
#visit-date h4 {
    font-size: 10px;
    font-weight: 100;
    color: gray;
}
#user-comment {
    font-size: 12px;
    font-weight: normal;
}
#user-button {
    display: flex;
}
#likes {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}
#likes h4 {
    font-size: 12px;
    font-weight: 100;
    color: gray;
}
#user-button > button {
    border-radius: 50%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    width: 32px;
    height: 32px;
    transition: 0.1s;
}
#user-button > button:hover {
    background-color: rgb(220, 220, 215);
}
#user-button > a {
    border-radius: 16px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}
#user-button > a:hover {
    background-color: rgb(220, 220, 215);
}
#user-button > a > h4 {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 100;
}
#user-button #space {
    width: 12px;
}




/* Side */
.content-side {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 23%;
    height: 100%;
    align-items: center;
}
.content-side > #space {
    height: 12px;
}
.content-side > section {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#live {
    height: 100px;
    font-weight: 100;
    font-size: 14px;
}
#live section {
    margin: 5px;
}
#side-button {
    padding: 0px 2px;
    justify-content: flex-start;
}
#side-button > a {
    color: black;
    padding: 6px 10px;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(240, 240, 235);
    border-radius: 6px;
    margin-right: 8px;
    transition: 0.2s;
}
#side-button > a:hover {
    background-color: rgb(220, 220, 215);
}
#side-button > a:first-of-type {
    background-color: black;
    color: white;
    font-size: 14px;
}
#videos {
    display: flex;
    height: 100px;
}
#videos > a {
    display: flex;
}
#vid-thumb {
    width: 100%;
    margin-right: 12px;
    margin-bottom: 10px;
    height: 100%;
    flex-basis: 40%;
    display: flex;
}
#vid-thumb > img {
    flex-basis: 100%;
    width: 100%;
    height: 100%;
    margin-right: 5px;
    object-fit: cover;
    border-radius: 8px;
}
#vid-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 60%;
    height: 100%;
}
#vid-title {
    display: flex;
    margin: 0;
    padding: 0;
}
#vid-uploader {
    display: flex;
    margin: 0;
    padding: 0;
}
#vid-views {
    display: flex;
    align-items: center;
}
#vid-title > section {
    font-size: 16px;
    margin: 3px 0;
    flex-basis: 100%;
}
#vid-uploader > section {
    margin: 0;
    font-size: 12px;
    margin-top: 3px;
    flex-basis: 100%;
}
#dot > i {
    text-align: center;
    font-size: 2px;
    width: 10px;
}
#vid-views > section {
    display: flex;
    margin: 0;
    margin-bottom: 12px;
}
#vid-views {
    font-size: 12px;
}









button:hover {
    cursor: pointer;
    background-color: rgb(220, 220, 215);
}



button {
    background: none;

}